<h2>Ejercicio visto en clase</h2>
<br>
<header>This is the Apps Title: {{title}} </header>
<input type="text" [(ngModel)]="title">

<div>
  <button (click)="changeTitle()">Change Title</button>
</div>
<br>

<div>
  <h1>
    Ejercicio 01
  </h1>
  <br>
  <h4>Type your age:</h4>
  <input type="text" id="myAge">
  <h4>Type your mom's age:</h4>
  <input type="text" id="momsAge">
  <br>
  <button (click)="calculate()">Calculate </button>
  <button (click)="clean()">Clean</button>

  <div id="ageResult" style="visibility: hidden;">
    <h4 id="av"></h4>
    <h4 id="sum"></h4>
  </div>
</div>

<router-outlet></router-outlet>